@model InventoryMVC.Models.ViewModels.EditProductViewModel

@{
    ViewData["Title"] = "Edit product";
}

<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <form asp-controller="Product" asp-action="Edit" asp-route-pageNumber="@ViewBag.PageNumber" method="post" class="py-4 px-3 rounded" autocomplete="off">
                <h1>Edit Product</h1>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description"></label>
                    <textarea class="form-control" asp-for="Description"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CategoryId">Category</label>
                    <select asp-for="CategoryId" asp-items="@ViewBag.Categories" class="form-control"></select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input class="btn btn-primary" type="submit" value="EDIT" />
                    <a asp-controller="Product" asp-action="Index" asp-route-pageNumber="@ViewBag.PageNumber" class="btn btn-secondary">CANCEL</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Styles{
    <link href="~/css/formPage.css" rel="stylesheet" type="text/css" />
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
