@{
    ViewData["Title"] = "Home";
}

<div class="row">

    <div class="col-md-3 col-sm-6 my-auto" >
        <h1>Inventory Management</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.</p>
        <button class="btn btn-primary">Read more</button>
    </div>
    <div class="image col-md-9 text-right">
        <img style="width: 700px;" src="~/img/Inventory2.jpg" alt="inventory image" />
    </div>

</div>
