@model InventoryMVC.Models.ViewModels.ProductSupplierViewModel

@{
    var supplierName = (string)ViewBag.SupplierName;
}

<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <form asp-controller="ProductSupplier" asp-action="AddProduct" method="post" class="py-4 px-3 rounded" autocomplete="off">
                <h3>Add Product for @supplierName</h3>
                <input type="hidden" asp-for="SupplierId" />

                <div class="form-group">
                    <label>Supplier</label>
                    <input class="form-control" value="@supplierName" readonly />
                </div>

                <div class="form-group">
                    <label asp-for="ProductId"></label>
                    <select asp-for="ProductId" asp-items="@ViewBag.ProductList" class="form-control"></select>
                </div>

                <div class="form-group">
                    <input class="btn btn-primary" type="submit" value="ADD" />
                    <a asp-controller="ProductSupplier" asp-action="GetProducts" asp-route-id="@Model.SupplierId" class="btn btn-secondary">
                        CANCEL
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Styles{
    <link href="~/css/formPage.css" rel="stylesheet" type="text/css" />
}

